.App {
  text-align: center;
  margin: 40px;
  padding: 10px;
}

.filter_title{
  text-align: left;
}

.filter-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Wine{
  background-color: #efefef;
  height: 180px;
  width: 260px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

li {
  display: inline-block;
  vertical-align: top;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filter-things {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
